In [1]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv('merged_result.csv')
df = df.drop(['Unnamed: 0'], axis=1)

In [60]:
df.head()

,Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
0,2020,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,89968.0,53194.1,500.0,NaN,...,9558.32,0,0,44.99,481.48,0.0,0,49.50,0,74100.24
1,2020,1,"Aitchison,Scott",Active,Parry Sound—Muskoka,14402.0,83362.0,51822.64,0.0,NaN,...,16000.0,0,0,134.97,1183.58,338.0,0,120.00,0,71862.81
2,2020,1,"Albas,Dan",Active,Central Okanagan—Similkameen—Nicola,16208.0,95597.0,66389.21,1264.3,NaN,...,10545.99,0,0,0.0,951.83,0.0,8.55,822.52,13.82,96141.71
3,2020,1,"Alghabra,Hon. Omar",Active,Mississauga Centre,24.0,87888.0,50896.13,284.15,NaN,...,13400.06,125.00,391.00,4059.99,4368.53,529.81,652.61,452.78,69.10,90100.87
4,2020,1,"Alleslev,Leona",Active,Aurora—Oak Ridges—Richmond Hill,100.0,83340.0,34508.9,942.28,NaN,...,8863.35,0,201.95,0.0,525.54,0.0,0,0,13.82,59906.88

In [61]:
df.loc[df['Constituency name'] == 'Edmonton Manning']

,Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
0,2020,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,89968.0,53194.1,500.0,NaN,...,9558.32,0,0,44.99,481.48,0.0,0,49.50,0,74100.24
339,2019,4,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,89968.0,260899.06,6278.93,NaN,...,28241.42,232.92,1621.62,2977.99,5615.63,199.0,2977.72,2567.6,0.0,427326.08
780,2019,3,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,89967.0,178119.28,4337.0,NaN,...,22589.53,11.99,1034.1,2300.0,3193.21,0.0,2422.7,1482.41,0.0,303668.51
1221,2019,2,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,110362.42,0.0,NaN,...,15627.1,11.99,598.54,100.0,552.27,0.0,2053.5,1319.94,0.0,199683.53
1564,2019,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,49668.73,0.0,NaN,...,8479.24,11.99,0.0,0.0,300.65,0.0,591.95,844.98,0.0,98941.63
1905,2018,4,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,237127.44,8237.7,NaN,...,27430.91,194.85,1309.13,2400.0,7820.83,0.0,2452.16,2800.76,34.86,399495.59
2256,2018,3,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,167895.32,3360.23,NaN,...,22299.51,0.0,827.96,2400.0,4740.23,0.0,1903.01,1776.24,0.0,283120.24
2601,2018,2,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,109885.68,11.23,NaN,...,15365.08,0.0,761.57,200.0,2752.4,0.0,1576.17,1462.71,0.0,184491.6
2944,2018,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,49905.2,0.0,NaN,...,9005.65,0.0,0.0,100.0,965.42,0.0,795.13,174.02,0.0,85919.44
3285,2017,4,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,211359.21,7064.0,NaN,...,26680.76,49.98,1299.57,5105.39,7707.53,169.0,1563.45,2904.24,0.0,358264.35
3642,2017,3,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,148396.15,1959.0,NaN,...,22450.17,49.98,995.31,2692.86,4254.08,0.0,859.01,1889.74,0.0,248758.58
3996,2017,2,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,95485.95,1710.0,NaN,...,14380.1,49.98,488.61,392.86,1454.35,0.0,783.83,1233.59,0.0,161509.59
4342,2017,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,42982.09,0.0,NaN,...,8217.2,0.0,156.56,382.86,633.56,0.0,130.79,198.23,0.0,75756.27
4686,2016,4,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,199307.06,6639.98,NaN,...,23801.42,350.74,427.4,1186.07,5468.32,135.0,1869.33,4772.48,0.0,357218.15
5031,2016,3,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,135052.49,2720.0,NaN,...,19260.3,0.0,427.4,863.55,1892.86,0.0,1113.82,2950.28,0.0,245524.96
5374,2016,2,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,80253.2,2720.0,NaN,...,22535.4,0.0,275.62,384.57,1292.85,0.0,807.28,1920.66,0.0,154425.22
5714,2016,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,37145.92,0.0,NaN,...,9963.0,0.0,275.62,284.57,119.9,0.0,347.58,542.11,0.0,68955.16
6054,2015,4,"Aboultaif,Ziad\t\tFrom October 19, 2015 to Mar...",NE,Edmonton Manning,158.0,81361.0,59320.76,1869.93,NaN,...,6417.3,5717.23,0.0,1843.07,2917.47,983.46,450.18,2444.22,0.0,132271.91
6579,2015,3,"Aboultaif,Ziad\t\tFrom October 19, 2015 to Dec...",NE,Edmonton Manning,158.0,81361.0,12696.4,0.0,NaN,...,0.0,0.0,0.0,0.0,131.81,0.0,0.0,311.64,0.0,27515.85

In [63]:
df['Name'] = df['Name'].apply(lambda x: x.split('\t\t')[0])

In [64]:
df.loc[df['Name'] == 'Aboultaif,Ziad']

,Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
0,2020,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,89968.0,53194.1,500.0,NaN,...,9558.32,0,0,44.99,481.48,0.0,0,49.50,0,74100.24
339,2019,4,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,89968.0,260899.06,6278.93,NaN,...,28241.42,232.92,1621.62,2977.99,5615.63,199.0,2977.72,2567.6,0.0,427326.08
780,2019,3,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,89967.0,178119.28,4337.0,NaN,...,22589.53,11.99,1034.1,2300.0,3193.21,0.0,2422.7,1482.41,0.0,303668.51
1221,2019,2,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,110362.42,0.0,NaN,...,15627.1,11.99,598.54,100.0,552.27,0.0,2053.5,1319.94,0.0,199683.53
1564,2019,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,49668.73,0.0,NaN,...,8479.24,11.99,0.0,0.0,300.65,0.0,591.95,844.98,0.0,98941.63
1905,2018,4,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,237127.44,8237.7,NaN,...,27430.91,194.85,1309.13,2400.0,7820.83,0.0,2452.16,2800.76,34.86,399495.59
2256,2018,3,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,167895.32,3360.23,NaN,...,22299.51,0.0,827.96,2400.0,4740.23,0.0,1903.01,1776.24,0.0,283120.24
2601,2018,2,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,109885.68,11.23,NaN,...,15365.08,0.0,761.57,200.0,2752.4,0.0,1576.17,1462.71,0.0,184491.6
2944,2018,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,49905.2,0.0,NaN,...,9005.65,0.0,0.0,100.0,965.42,0.0,795.13,174.02,0.0,85919.44
3285,2017,4,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,211359.21,7064.0,NaN,...,26680.76,49.98,1299.57,5105.39,7707.53,169.0,1563.45,2904.24,0.0,358264.35
3642,2017,3,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,148396.15,1959.0,NaN,...,22450.17,49.98,995.31,2692.86,4254.08,0.0,859.01,1889.74,0.0,248758.58
3996,2017,2,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,95485.95,1710.0,NaN,...,14380.1,49.98,488.61,392.86,1454.35,0.0,783.83,1233.59,0.0,161509.59
4342,2017,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,42982.09,0.0,NaN,...,8217.2,0.0,156.56,382.86,633.56,0.0,130.79,198.23,0.0,75756.27
4686,2016,4,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,199307.06,6639.98,NaN,...,23801.42,350.74,427.4,1186.07,5468.32,135.0,1869.33,4772.48,0.0,357218.15
5031,2016,3,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,135052.49,2720.0,NaN,...,19260.3,0.0,427.4,863.55,1892.86,0.0,1113.82,2950.28,0.0,245524.96
5374,2016,2,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,80253.2,2720.0,NaN,...,22535.4,0.0,275.62,384.57,1292.85,0.0,807.28,1920.66,0.0,154425.22
5714,2016,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,81361.0,37145.92,0.0,NaN,...,9963.0,0.0,275.62,284.57,119.9,0.0,347.58,542.11,0.0,68955.16
6054,2015,4,"Aboultaif,Ziad",NE,Edmonton Manning,158.0,81361.0,59320.76,1869.93,NaN,...,6417.3,5717.23,0.0,1843.07,2917.47,983.46,450.18,2444.22,0.0,132271.91
6579,2015,3,"Aboultaif,Ziad",NE,Edmonton Manning,158.0,81361.0,12696.4,0.0,NaN,...,0.0,0.0,0.0,0.0,131.81,0.0,0.0,311.64,0.0,27515.85

In [65]:
df['Quarter'] = df['Quarter'].apply(lambda x: np.NaN if x == '4' else x)

In [81]:
df.drop(df.loc[df['Quarter'] == 'Quarter'].index, inplace=True)
df.drop(df.loc[df['Year'] < '2014'].index, inplace=True)
df.drop(columns=['Status'], inplace=True)

In [76]:
# use 2014 to 2020

0          956.2
1         674.82
2        1923.72
3         913.72
4         410.22
          ...
8982     3798.38
8983    12783.98
8984     5438.29
8985     6260.94
8986    20300.21
Name: Member, Length: 8963, dtype: object

In [103]:
# df['Member']
# df['Designated traveller']
# df['Dependants']
# df['Employees']
# df['Member\'s accommodation expenses']
# df['Member\'s per diem expenses']
# df['Member\'s secondary residence expenses']
df['Member'] = df['Member'].astype(float)
df['Designated traveller'] = df['Designated traveller'].astype(float)
df['Dependants'] = df['Dependants'].astype(float)
df['Employees'] = df['Employees'].astype(float)
df['Member\'s accommodation expenses'] = df['Member\'s accommodation expenses'].astype(float)
df['Member\'s per diem expenses'] = df['Member\'s per diem expenses'].astype(float)
df['Member\'s secondary residence expenses']= df['Member\'s secondary residence expenses'].astype(float)
# 
df['3-Travel'] = df['Member'] + df['Designated traveller'] + df['Dependants'] + df['Employees'] + df['Member\'s accommodation expenses'] + df['Member\'s per diem expenses'] + df['Member\'s secondary residence expenses']

In [104]:
df.sample(5)

,Year,Quarter,Name,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,Member,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
2713,2018,2,"Fragiskatos,Peter",London North Centre,63.0,92950.0,111009.53,6670.19,37388.97,14012.74,...,15452.34,199.94,1015.31,4412.78,3869.93,535.67,836.53,3505.87,0.0,225755.89
3676,2017,3,"Bittle,Chris",St. Catharines,61.0,85377.0,201219.04,998.99,53285.05,20963.62,...,26004.56,2045.45,285.91,4601.41,5961.22,0.0,229.49,5583.37,49.4,324197.7
2042,2018,NaN,"Hardcastle,Cheryl",Windsor—Tecumseh,174.0,87644.0,296468.17,16328.65,60228.64,27419.34,...,19823.61,434.99,160.86,6489.29,11087.39,239.0,672.13,4223.29,1000.0,465757.83
6548,2015,NaN,"Vellacott,Maurice",Saskatoon—Wanuskewin,10466.0,57654.0,115311.74,7862.29,40195.88,9649.22,...,20476.16,0.0,283.55,9.98,6369.57,633.61,1460.92,1024.96,0.0,211319.25
8553,2014,2,"May,Elizabeth",Saanich—Gulf Islands,504.0,93380.0,125052.64,328.47,27984.83,12049.94,...,14906.29,1724.86,80.0,100.0,2320.49,497.42,304.91,1239.04,0.0,184758.22

In [108]:
df.loc[df['Name'] =='May,Elizabeth']

Year                                                      object
Quarter                                                   object
Name                                                      object
Constituency name                                         object
Constituency size                                         object
Number of electors                                        object
1-Employees' salaries                                     object
2-Service Contracts                                       object
3-Travel                                                 float64
Member                                                   float64
Designated traveller                                     float64
Dependants                                               float64
Employees                                                float64
Member's accommodation expenses                          float64
Member's per diem expenses                               float64
Member's secondary residence expenses                    float64
4-Hospitality                                             object
5-Gifts                                                   object
6-Advertising                                             object
7-Printing                                                object
Householders                                              object
Ten percenters                                            object
Other printing related expenses                           object
8-Offices                                                 object
Constituency office leases, insurance and utilities       object
Furniture, furnishing and equipment purchases             object
Equipment rentals                                         object
Informatics and telecommunication equipment purchases     object
Telecommunication services                                object
Repairs and maintenance                                   object
Postage and courier services                              object
Materials and supplies                                    object
Training                                                  object
Total                                                     object
dtype: object