In [228]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [229]:
df = pd.read_csv('expenditure_data.csv')

In [230]:
df.head()

,Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
0,2020,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,89968.0,53194.10,500.00,NaN,...,9558.32,0.0,0.00,44.99,481.48,0.00,0.00,49.50,0.00,74100.24
1,2020,1,"Aitchison,Scott",Active,Parry Sound—Muskoka,14402.0,83362.0,51822.64,0.00,NaN,...,16000.00,0.0,0.00,134.97,1183.58,338.00,0.00,120.00,0.00,71862.81
2,2020,1,"Albas,Dan",Active,Central Okanagan—Similkameen—Nicola,16208.0,95597.0,66389.21,1264.30,NaN,...,10545.99,0.0,0.00,0.00,951.83,0.00,8.55,822.52,13.82,96141.71
3,2020,1,"Alghabra,Hon. Omar",Active,Mississauga Centre,24.0,87888.0,50896.13,284.15,NaN,...,13400.06,125.0,391.00,4059.99,4368.53,529.81,652.61,452.78,69.10,90100.87
4,2020,1,"Alleslev,Leona",Active,Aurora—Oak Ridges—Richmond Hill,100.0,83340.0,34508.90,942.28,NaN,...,8863.35,0.0,201.95,0.00,525.54,0.00,0.00,0.00,13.82,59906.88

In [231]:
df['Name'] = df['Name'].apply(lambda x: x.split('\t\t')[0].replace('Hon. ', ''))
df['minister'] = df['Name'].str.match(r'.*,Hon\..*')
df['Name'] = df['Name'].str.replace(r'Hon\.\s', '', regex=True)

In [232]:
df['Quarter'] = df['Quarter'].apply(lambda x: np.NaN if x == '4' else int(x))
df.drop(df.loc[df['Quarter'] == 'Quarter'].index, inplace=True)
# df.drop(df.loc[df['Year'] < '2014'].index, inplace=True)
df.drop(columns=['Status'], inplace=True)

In [233]:
df['Member\'s per diem expenses'].fillna(0.0, inplace=True)

In [234]:
df['Member'] = df['Member'].astype(float)
df['Designated traveller'] = df['Designated traveller'].astype(float)
df['Dependants'] = df['Dependants'].astype(float)
df['Employees'] = df['Employees'].astype(float)
df['Member\'s accommodation expenses'] = df['Member\'s accommodation expenses'].astype(float)
df['Member\'s per diem expenses'] = df['Member\'s per diem expenses'].astype(float)
df['Member\'s secondary residence expenses']= df['Member\'s secondary residence expenses'].astype(float)
df['3-Travel'] = df['Member'] + df['Designated traveller'] + df['Dependants'] + df['Employees'] + df['Member\'s accommodation expenses'] + df['Member\'s per diem expenses'] + df['Member\'s secondary residence expenses']

In [235]:
df.sample(10)

,Year,Quarter,Name,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,Member,...,"Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total,minister
3628,2017,4,"Young,Kate",London West,82.0,93138.0,295648.19,3827.87,59393.20,20591.81,...,0.00,942.51,1287.82,11140.60,874.71,1090.95,5079.06,49.40,467058.30,False
2452,2018,3,"May,Elizabeth",Saanich—Gulf Islands,518.0,86863.0,214519.71,1369.40,41920.95,18483.64,...,39.89,3942.02,754.09,8454.30,0.00,439.07,2510.18,1978.76,327991.49,False
6738,2015,3,"Fraser,Colin",West Nova,9965.0,67059.0,10196.25,0.00,3195.23,2271.00,...,0.00,0.00,0.00,192.85,0.00,0.00,38.90,0.00,14590.97,False
1832,2019,1,"Samson,Darrell",Sackville—Preston—Chezzetcook,777.0,68040.0,54392.66,0.00,20545.36,7957.10,...,303.97,0.00,227.20,1473.52,0.00,89.99,5151.72,0.00,101401.22,False
2154,2018,4,"Raitt,Lisa",Milton,472.0,72329.0,251477.93,946.20,111932.22,61996.98,...,252.97,96.00,6283.20,13865.80,511.49,473.48,2365.53,0.00,442294.16,True
2033,2018,4,"Gourde,Jacques",Lévis—Lotbinière,2123.0,87339.0,185534.04,98277.00,51512.58,19938.30,...,78.00,408.05,4958.56,9877.31,0.00,743.13,2138.31,50.00,446002.10,False
5537,2016,2,"Lemieux,Denis",Chicoutimi—Le Fjord,2819.0,66821.0,99790.40,6975.00,31376.47,14260.95,...,495.24,1126.91,571.91,2885.87,1311.00,66.42,1286.79,0.00,174711.50,False
7428,2015,1,"Blaney,Steven",Lévis—Bellechasse,3293.0,90515.0,50127.09,2997.11,11387.91,8341.11,...,0.00,1574.10,1411.61,959.22,797.36,852.53,1985.64,0.00,94284.13,True
7255,2015,2,"Leslie,Megan",Halifax,231.0,73357.0,104182.14,1800.00,30575.49,13458.21,...,0.00,139.88,0.00,1895.44,95.00,580.82,971.96,362.50,162738.24,False
2720,2018,2,"Godin,Joël",Portneuf—Jacques-Cartier,7617.0,88337.0,100835.80,4471.99,22028.31,11374.62,...,0.00,2839.92,167.98,3700.57,0.00,603.56,1401.07,0.00,177936.53,False

In [236]:
df.groupby(['Name', 'Year', 'Quarter'])['Total'].sum().sort_values(ascending=False).head(10)

Name             Year  Quarter
Doherty,Todd     2018  4          622466.23
Fletcher,Steven  2012  4          612259.38
Nault,Robert     2017  4          606651.93
Yurdiga,David    2018  4          600262.77
Gill,Marilène    2019  4          596939.07
Nault,Robert     2018  4          591401.04
Zimmer,Bob       2019  4          577676.54
Jones,Yvonne     2017  4          575059.36
                 2018  4          573043.18
Zimmer,Bob       2018  4          571565.70
Name: Total, dtype: float64

In [237]:
df.sample(5)

,Year,Quarter,Name,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,Member,...,"Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total,minister
8190,2014,3,"Laverdière,Hélène",Laurier—Sainte-Marie,13.0,79772.0,166640.35,1500.00,35879.09,6133.30,...,322.21,0.00,177.57,6242.80,1466.47,610.40,2311.26,150.0,266884.86,False
3027,2018,1,"Duvall,Scott",Hamilton Mountain,35.0,77581.0,50835.23,7542.50,20090.06,4988.41,...,0.00,300.00,1025.00,745.86,0.00,38.61,867.71,0.0,93546.78,False
8536,2014,2,"McLeod,Cathy",Kamloops—Thompson—Cariboo,44344.0,90855.0,101304.73,866.00,37765.16,11437.08,...,0.00,345.00,0.00,2310.53,0.00,1113.39,923.60,0.0,180436.15,False
2098,2018,4,"Marcil,Simon",Mirabel,868.0,87938.0,257563.44,10262.72,61490.54,12778.05,...,0.00,4281.13,532.25,9894.38,255.31,52.12,7920.06,0.0,431286.58,False
884,2019,3,"Dhillon,Anju",Dorval—Lachine—LaSalle,51.0,85549.0,188243.71,360.00,35072.06,4742.80,...,0.00,107.00,142.27,3908.14,505.75,335.02,1270.39,0.0,286092.15,False

In [238]:
df.columns.values

array(['Year', 'Quarter', 'Name', 'Constituency name',
       'Constituency size', 'Number of electors', "1-Employees' salaries",
       '2-Service Contracts', '3-Travel', 'Member',
       'Designated traveller', 'Dependants', 'Employees',
       "Member's accommodation expenses", "Member's per diem expenses",
       "Member's secondary residence expenses", '4-Hospitality',
       '5-Gifts', '6-Advertising', '7-Printing', 'Householders',
       'Ten percenters', 'Other printing related expenses', '8-Offices',
       'Constituency office leases, insurance and utilities',
       'Furniture, furnishing and equipment purchases',
       'Equipment rentals',
       'Informatics and telecommunication equipment purchases',
       'Telecommunication services', 'Repairs and maintenance',
       'Postage and courier services', 'Materials and supplies',
       'Training', 'Total', 'minister'], dtype=object)

In [243]:
df.rename(columns={
    'Year': 'year',
    'Quarter': 'quarter',
    'Name': 'name',
    'Constituency name': 'constituency_name',
    'Constituency size': 'constituency_size',
    'Number of electors': 'number_of_electors', 
    "1-Employees' salaries": '_employees_salaries',
    '2-Service Contracts': '_service_contracts',
    '3-Travel': '_travel',
    'Member': 'member',
    'Designated traveller': 'designated_traveller',
    'Dependants': 'dependants',
    'Employees': 'employees',
    "Member's accommodation expenses":  'member_accommodation_expenses',
    "Member's per diem expenses": 'member_per_diem_expenses',
    "Member's secondary residence expenses": 'member_secondary_residence_expenses',
    '4-Hospitality': '_hospitality',
    '5-Gifts': '_gifts',
    '6-Advertising': '_advertising',
    '7-Printing': '_printing',
    'Householders': 'householders',
    'Ten percenters': 'ten_percenters',
    'Other printing related expenses': 'other_printing_related_expenses',
    '8-Offices': '_offices',
    'Constituency office leases, insurance and utilities': 'constituency_office_leases_insurance_and_utilities',
    'Furniture, furnishing and equipment purchases': 'furniture_furnishing_and_equipment_purchases',
    'Equipment rentals': 'equipment_rentals',
    'Informatics and telecommunication equipment purchases': 'informatics_and_telecommunication_equipment_purchases',
    'Telecommunication services':  'telecommunication_services',
    'Repairs and maintenance': 'repairs_and_maintenance',
    'Postage and courier services': 'postage_and_courier_services',
     'Materials and supplies': 'materials_and_supplies',
    'Training': 'training',
    'Total': 'total'
}, inplace=True)
df.to_json('../src/expenditure_data.json', orient='records', force_ascii=False)

In [244]:
df[['year', 'quarter', 'name', 'constituency_name', 'constituency_size', 'number_of_electors', '_employees_salaries', '_service_contracts', 'total', '_travel', 'member', 'designated_traveller']].to_json('../src/expenditure_data.json', orient='records', force_ascii=False)

In [242]:
len(df['name'].unique())

660