In [59]:
import pandas as pd
import numpy as np
import math

In [201]:
org_df = pd.read_csv('expenditure_data.csv')
org_df["Member's per diem expenses"] = org_df["Member's per diem expenses"].apply(lambda x: 0 if math.isnan(x) else x)
org_df['3-Travel'] = org_df['Member'] + org_df['Designated traveller'] + org_df['Dependants'] + org_df['Employees'] + org_df['Member\'s accommodation expenses'] + org_df['Member\'s per diem expenses'] + org_df['Member\'s secondary residence expenses']
# org_df.head()
# org_df.loc[(org_df["Year"]==2018) & (org_df["Quarter"]==4)]

Empty DataFrame
Columns: [Year, Quarter, Name, Status, Constituency name, Constituency size, Number of electors, 1-Employees' salaries, 2-Service Contracts, 3-Travel, Member, Designated traveller, Dependants, Employees, Member's accommodation expenses, Member's per diem expenses, Member's secondary residence expenses, 4-Hospitality, 5-Gifts, 6-Advertising, 7-Printing, Householders, Ten percenters, Other printing related expenses, 8-Offices, Constituency office leases, insurance and utilities, Furniture, furnishing and equipment purchases, Equipment rentals, Informatics and telecommunication equipment purchases, Telecommunication services, Repairs and maintenance, Postage and courier services, Materials and supplies, Training, Total]
Index: []

[0 rows x 35 columns]

In [193]:
# Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,Member,Designated traveller,Dependants,Employees,Member's accommodation expenses,
# Member's per diem expenses,Member's secondary residence expenses,4-Hospitality,5-Gifts,6-Advertising,7-Printing,Householders,Ten percenters,Other printing related expenses,8-Offices,
# "Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,
# Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total


df = pd.read_csv('MembersExpenditures.2021Q2.csv')
df.insert(0,'Year',2020)
df.insert(1,'Quarter',2)
df.rename({"Constituency": "Constituency name"}, axis=1, inplace=True)
df.drop('Caucus',inplace=True, axis=1)
# df.rename({"Constituency": "Constituency name"}, axis=1, inplace=True)
df.insert(3,'Status','')
df.insert(5,'Constituency size',0)
df.insert(6,'Number of electors',0)
df.rename({"Salaries": "1-Employees' salaries"}, axis=1, inplace=True)
df.insert(8,'2-Service Contracts',0)
df['2-Service Contracts'] = df['Contracts']
df.rename({"Travel": "3-Travel"}, axis=1, inplace=True)
df.insert(10,'Member',0)
df.insert(11,'Designated traveller',0)
df.insert(12,'Dependants',0)
df.insert(13,'Employees',0)
df.insert(14,"Member's accommodation expenses",0)
df.insert(15,"Member's per diem expenses",0)
df.insert(16,"Member's secondary residence expenses",0)
df.insert(17,'4-Hospitality',0)
df['4-Hospitality'] = df['Hospitality']
df.insert(18,'5-Gifts',0)
df.insert(19,'6-Advertising',0)
df.insert(20,'7-Printing',0)
df.insert(21,'Householders',0)
df.insert(22,'Ten percenters',0)
df.insert(23,'Other printing related expenses',0)
df.insert(24,'8-Offices',0)
df.insert(25,'Constituency office leases, insurance and utilities',0)
df.insert(26,'Furniture, furnishing and equipment purchases',0)
df.insert(27,'Equipment rentals',0)
df.insert(28,'Informatics and telecommunication equipment purchases',0)
df.insert(29,'Telecommunication services',0)
df.insert(30,'Repairs and maintenance',0)
df.insert(31,'Postage and courier services',0)
df.insert(32,'Materials and supplies',0)
df.insert(33,'Training',0)
df.insert(34,'Total',0)
df['Total'] = df["1-Employees' salaries"] + df['3-Travel'] + df["4-Hospitality"] + df["2-Service Contracts"]
df.drop(['Hospitality','Contracts'],inplace=True, axis=1)

df['Name'] = df['Name'].apply(lambda x: x.replace(' ',''))

name_list = list(org_df.loc[org_df['Year'] == 2020]["Name"])

for name in list(df["Name"]):

    if name in name_list:
        ind1 = df.index[(df["Name"]==name) & (df["Year"]==2020)][0]
        ind2 = org_df.index[(org_df["Name"]==name) & (org_df["Year"]==2020)][0]
        
        df.at[ind1,"1-Employees' salaries"] += org_df.at[ind2,"1-Employees' salaries"]
        df.at[ind1,"2-Service Contracts"] += org_df.at[ind2,"2-Service Contracts"]
        df.at[ind1,"3-Travel"] += org_df.at[ind2,"3-Travel"]
        df.at[ind1,"4-Hospitality"] += org_df.at[ind2,"4-Hospitality"]
        df.at[ind1,"Total"] += org_df.at[ind2,"Total"]
        

df.head()
# len(df.index)
# df.loc[0]["Total"]

,Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
0,2020,2,"Aboultaif,Ziad",,Edmonton Manning,0,0,114017.11,19436.14,25951.88,...,0,0,0,0,0,0,0,0,0,170732.34
1,2020,2,"Aitchison,Scott",,Parry Sound—Muskoka,0,0,131635.50,26270.55,11241.82,...,0,0,0,0,0,0,0,0,0,187514.42
2,2020,2,"Albas,Dan",,Central Okanagan—Similkameen—Nicola,0,0,157063.09,27590.29,23496.62,...,0,0,0,0,0,0,0,0,0,228476.07
3,2020,2,"Alghabra,Hon.Omar",,Mississauga Centre,0,0,71977.50,22599.19,10752.60,...,0,0,0,0,0,0,0,0,0,105589.79
4,2020,2,"Alleslev,Leona",,Aurora—Oak Ridges—Richmond Hill,0,0,108721.70,18800.21,21415.73,...,0,0,0,0,0,0,0,0,0,164828.92

In [197]:
df1 = pd.read_csv('MembersExpenditures.2021Q3.csv')
df1.insert(0,'Year',2020)
df1.insert(1,'Quarter',3)
df1.rename({"Constituency": "Constituency name"}, axis=1, inplace=True)
df1.drop('Caucus',inplace=True, axis=1)
# df.rename({"Constituency": "Constituency name"}, axis=1, inplace=True)
df1.insert(3,'Status','')
df1.insert(5,'Constituency size',0)
df1.insert(6,'Number of electors',0)
df1.rename({"Salaries": "1-Employees' salaries"}, axis=1, inplace=True)
df1.insert(8,'2-Service Contracts',0)
df1['2-Service Contracts'] = df1['Contracts']
df1.rename({"Travel": "3-Travel"}, axis=1, inplace=True)
df1.insert(10,'Member',0)
df1.insert(11,'Designated traveller',0)
df1.insert(12,'Dependants',0)
df1.insert(13,'Employees',0)
df1.insert(14,"Member's accommodation expenses",0)
df1.insert(15,"Member's per diem expenses",0)
df1.insert(16,"Member's secondary residence expenses",0)
df1.insert(17,'4-Hospitality',0)
df1['4-Hospitality'] = df1['Hospitality']
df1.insert(18,'5-Gifts',0)
df1.insert(19,'6-Advertising',0)
df1.insert(20,'7-Printing',0)
df1.insert(21,'Householders',0)
df1.insert(22,'Ten percenters',0)
df1.insert(23,'Other printing related expenses',0)
df1.insert(24,'8-Offices',0)
df1.insert(25,'Constituency office leases, insurance and utilities',0)
df1.insert(26,'Furniture, furnishing and equipment purchases',0)
df1.insert(27,'Equipment rentals',0)
df1.insert(28,'Informatics and telecommunication equipment purchases',0)
df1.insert(29,'Telecommunication services',0)
df1.insert(30,'Repairs and maintenance',0)
df1.insert(31,'Postage and courier services',0)
df1.insert(32,'Materials and supplies',0)
df1.insert(33,'Training',0)
df1.insert(34,'Total',0)
df1['Total'] = df1["1-Employees' salaries"] + df1['3-Travel'] + df1["4-Hospitality"] + df1["2-Service Contracts"]
df1.drop(['Hospitality','Contracts'],inplace=True, axis=1)

df1['Name'] = df1['Name'].apply(lambda x: x.replace(' ',''))

name_list = list(df["Name"])

for name in list(df1["Name"]):

    if name in name_list:
        ind1 = df1.index[df1["Name"]==name][0]
        ind2 = df.index[df["Name"]==name][0]
        # ind2 = org_df.index[(org_df["Name"]==name) & (org_df["Year"]==2020)][0]
        
        df1.at[ind1,"1-Employees' salaries"] += df.at[ind2,"1-Employees' salaries"]
        df1.at[ind1,"2-Service Contracts"] += df.at[ind2,"2-Service Contracts"]
        df1.at[ind1,"3-Travel"] += df.at[ind2,"3-Travel"]
        df1.at[ind1,"4-Hospitality"] += df.at[ind2,"4-Hospitality"]
        df1.at[ind1,"Total"] += df.at[ind2,"Total"]

df1.head()
# len(df1.index)

,Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
0,2020,3,"Aboultaif,Ziad",,Edmonton Manning,0,0,167956.15,35204.79,35863.33,...,0,0,0,0,0,0,0,0,0,250468.94
1,2020,3,"Aitchison,Scott",,Parry Sound—Muskoka,0,0,194698.11,49172.03,19506.76,...,0,0,0,0,0,0,0,0,0,281813.41
2,2020,3,"Albas,Dan",,Central Okanagan—Similkameen—Nicola,0,0,230568.15,53506.45,36977.24,...,0,0,0,0,0,0,0,0,0,341624.01
3,2020,3,"Alghabra,Hon.Omar",,Mississauga Centre,0,0,127831.09,55450.48,22131.25,...,0,0,0,0,0,0,0,0,0,205673.32
4,2020,3,"Alleslev,Leona",,Aurora—Oak Ridges—Richmond Hill,0,0,157886.80,45782.36,31240.48,...,0,0,0,0,0,0,0,0,0,250968.71

In [198]:
df2 = pd.read_csv('MembersExpenditures.2021Q4.csv')
df2.insert(0,'Year',2020)
df2.insert(1,'Quarter',4)
df2.rename({"Constituency": "Constituency name"}, axis=1, inplace=True)
df2.drop('Caucus',inplace=True, axis=1)
# df.rename({"Constituency": "Constituency name"}, axis=1, inplace=True)
df2.insert(3,'Status','')
df2.insert(5,'Constituency size',0)
df2.insert(6,'Number of electors',0)
df2.rename({"Salaries": "1-Employees' salaries"}, axis=1, inplace=True)
df2.insert(8,'2-Service Contracts',0)
df2['2-Service Contracts'] = df2['Contracts']
df2.rename({"Travel": "3-Travel"}, axis=1, inplace=True)
df2.insert(10,'Member',0)
df2.insert(11,'Designated traveller',0)
df2.insert(12,'Dependants',0)
df2.insert(13,'Employees',0)
df2.insert(14,"Member's accommodation expenses",0)
df2.insert(15,"Member's per diem expenses",0)
df2.insert(16,"Member's secondary residence expenses",0)
df2.insert(17,'4-Hospitality',0)
df2['4-Hospitality'] = df2['Hospitality']
df2.insert(18,'5-Gifts',0)
df2.insert(19,'6-Advertising',0)
df2.insert(20,'7-Printing',0)
df2.insert(21,'Householders',0)
df2.insert(22,'Ten percenters',0)
df2.insert(23,'Other printing related expenses',0)
df2.insert(24,'8-Offices',0)
df2.insert(25,'Constituency office leases, insurance and utilities',0)
df2.insert(26,'Furniture, furnishing and equipment purchases',0)
df2.insert(27,'Equipment rentals',0)
df2.insert(28,'Informatics and telecommunication equipment purchases',0)
df2.insert(29,'Telecommunication services',0)
df2.insert(30,'Repairs and maintenance',0)
df2.insert(31,'Postage and courier services',0)
df2.insert(32,'Materials and supplies',0)
df2.insert(33,'Training',0)
df2.insert(34,'Total',0)
df2['Total'] = df2["1-Employees' salaries"] + df2['3-Travel'] + df2["4-Hospitality"] + df2["2-Service Contracts"]
df2.drop(['Hospitality','Contracts'],inplace=True, axis=1)

df2['Name'] = df1['Name'].apply(lambda x: x.replace(' ',''))

name_list = list(df1["Name"])

for name in list(df2["Name"]):

    if name in name_list:
        ind1 = df2.index[df2["Name"]==name][0]
        ind2 = df1.index[df1["Name"]==name][0]
        # ind2 = org_df.index[(org_df["Name"]==name) & (org_df["Year"]==2020)][0]
        
        df2.at[ind1,"1-Employees' salaries"] += df1.at[ind2,"1-Employees' salaries"]
        df2.at[ind1,"2-Service Contracts"] += df1.at[ind2,"2-Service Contracts"]
        df2.at[ind1,"3-Travel"] += df1.at[ind2,"3-Travel"]
        df2.at[ind1,"4-Hospitality"] += df1.at[ind2,"4-Hospitality"]
        df2.at[ind1,"Total"] += df1.at[ind2,"Total"]

df2.head()

# len(df2.index)

# df2.head()

,Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
0,2020,4,"Aboultaif,Ziad",,Edmonton Manning,0,0,245751.11,50759.99,42710.56,...,0,0,0,0,0,0,0,0,0,351643.76
1,2020,4,"Aitchison,Scott",,Parry Sound—Muskoka,0,0,285241.59,75934.22,23810.37,...,0,0,0,0,0,0,0,0,0,403422.69
2,2020,4,"Albas,Dan",,Central Okanagan—Similkameen—Nicola,0,0,334259.50,79186.04,44136.54,...,0,0,0,0,0,0,0,0,0,478275.50
3,2020,4,"Alghabra,Hon.Omar",,Mississauga Centre,0,0,209229.56,99791.11,30226.85,...,0,0,0,0,0,0,0,0,0,339508.02
4,2020,4,"Alleslev,Leona",,Aurora—Oak Ridges—Richmond Hill,0,0,230691.94,65605.68,36720.23,...,0,0,0,0,0,0,0,0,0,349154.06

In [199]:
df3 = pd.read_csv('MembersExpenditures.2022Q1.csv')
df3.insert(0,'Year',2021)
df3.insert(1,'Quarter',1)
df3.rename({"Constituency": "Constituency name"}, axis=1, inplace=True)
df3.drop('Caucus',inplace=True, axis=1)
df3.rename({"Constituency": "Constituency name"}, axis=1, inplace=True)
df3.insert(3,'Status','')
df3.insert(5,'Constituency size',0)
df3.insert(6,'Number of electors',0)
df3.rename({"Salaries": "1-Employees' salaries"}, axis=1, inplace=True)
df3.insert(8,'2-Service Contracts',0)
df3['2-Service Contracts'] = df3['Contracts']
df3.rename({"Travel": "3-Travel"}, axis=1, inplace=True)
df3.insert(10,'Member',0)
df3.insert(11,'Designated traveller',0)
df3.insert(12,'Dependants',0)
df3.insert(13,'Employees',0)
df3.insert(14,"Member's accommodation expenses",0)
df3.insert(15,"Member's per diem expenses",0)
df3.insert(16,"Member's secondary residence expenses",0)
df3.insert(17,'4-Hospitality',0)
df3['4-Hospitality'] = df3['Hospitality']
df3.insert(18,'5-Gifts',0)
df3.insert(19,'6-Advertising',0)
df3.insert(20,'7-Printing',0)
df3.insert(21,'Householders',0)
df3.insert(22,'Ten percenters',0)
df3.insert(23,'Other printing related expenses',0)
df3.insert(24,'8-Offices',0)
df3.insert(25,'Constituency office leases, insurance and utilities',0)
df3.insert(26,'Furniture, furnishing and equipment purchases',0)
df3.insert(27,'Equipment rentals',0)
df3.insert(28,'Informatics and telecommunication equipment purchases',0)
df3.insert(29,'Telecommunication services',0)
df3.insert(30,'Repairs and maintenance',0)
df3.insert(31,'Postage and courier services',0)
df3.insert(32,'Materials and supplies',0)
df3.insert(33,'Training',0)
df3.insert(34,'Total',0)
df3['Total'] = df3["1-Employees' salaries"] + df3['3-Travel'] + df3["4-Hospitality"] + df3["2-Service Contracts"]
df3.drop(['Hospitality','Contracts'],inplace=True, axis=1)

# len(df3.index)

df3.head()

,Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
0,2021,1,"Aboultaif, Ziad",,Edmonton Manning,0,0,48903.66,2744.65,9379.00,...,0,0,0,0,0,0,0,0,0,61203.88
1,2021,1,"Aitchison, Scott",,Parry Sound—Muskoka,0,0,44897.19,24541.26,3648.20,...,0,0,0,0,0,0,0,0,0,73086.65
2,2021,1,"Albas, Dan",,Central Okanagan—Similkameen—Nicola,0,0,68436.06,20746.69,8503.34,...,0,0,0,0,0,0,0,0,0,97702.29
3,2021,1,"Alghabra, Hon. Omar",,Mississauga Centre,0,0,53041.69,22445.79,4752.86,...,0,0,0,0,0,0,0,0,0,80240.34
4,2021,1,"Alleslev, Leona",,Aurora—Oak Ridges—Richmond Hill,0,0,45507.74,23579.83,8085.47,...,0,0,0,0,0,0,0,0,0,77224.48

In [202]:
csv_list = [org_df,df,df1,df2,df3]
new_csv = pd.concat(csv_list, axis=0, ignore_index=True)
new_csv['Name'] = new_csv['Name'].apply(lambda x: x.split('\t\t')[0])
new_csv.to_csv('new_expenditure_data.csv', index=False)
# new_csv.loc[new_csv['Year'] == 2020]

In [205]:
df = pd.read_csv('new_expenditure_data.csv')
df.loc[df['Year'] == 2020]
# df.sample(10)

,Year,Quarter,Name,Status,Constituency name,Constituency size,Number of electors,1-Employees' salaries,2-Service Contracts,3-Travel,...,"Constituency office leases, insurance and utilities","Furniture, furnishing and equipment purchases",Equipment rentals,Informatics and telecommunication equipment purchases,Telecommunication services,Repairs and maintenance,Postage and courier services,Materials and supplies,Training,Total
0,2020,1,"Aboultaif,Ziad",Active,Edmonton Manning,158.0,89968.0,53194.10,500.00,9473.52,...,9558.32,0.0,0.00,44.99,481.48,0.00,0.00,49.50,0.00,74100.24
1,2020,1,"Aitchison,Scott",Active,Parry Sound—Muskoka,14402.0,83362.0,51822.64,0.00,1673.62,...,16000.00,0.0,0.00,134.97,1183.58,338.00,0.00,120.00,0.00,71862.81
2,2020,1,"Albas,Dan",Active,Central Okanagan—Similkameen—Nicola,16208.0,95597.0,66389.21,1264.30,8252.41,...,10545.99,0.0,0.00,0.00,951.83,0.00,8.55,822.52,13.82,96141.71
3,2020,1,"Alghabra,Hon. Omar",Active,Mississauga Centre,24.0,87888.0,50896.13,284.15,4960.12,...,13400.06,125.0,391.00,4059.99,4368.53,529.81,652.61,452.78,69.10,90100.87
4,2020,1,"Alleslev,Leona",Active,Aurora—Oak Ridges—Richmond Hill,100.0,83340.0,34508.90,942.28,8904.82,...,8863.35,0.0,201.95,0.00,525.54,0.00,0.00,0.00,13.82,59906.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10639,2020,4,"Yurdiga,David",NaN,Fort McMurray—Cold Lake,0.0,0.0,296645.51,76072.88,70470.60,...,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,484438.69
10640,2020,4,"Zahid,Salma",NaN,Scarborough Centre,0.0,0.0,269054.68,79048.99,29718.72,...,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,400114.03
10641,2020,4,"Zann,Lenore",NaN,Cumberland—Colchester,0.0,0.0,285643.20,85154.05,2709.97,...,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,387683.46
10642,2020,4,"Zimmer,Bob",NaN,Prince George—Peace River—Northern Rockies,0.0,0.0,321359.02,108168.87,96500.40,...,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,546470.76
10643,2020,4,"Zuberi,Sameer",NaN,Pierrefonds—Dollard,0.0,0.0,270479.17,81416.43,9501.76,...,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,390342.38